<%- include("header") -%>


<h2>jajajdjajdajdjj</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, laborum maxime sunt optio est quod! Accusantium explicabo veritatis nemo aliquid.</p>

<%- include("footer") -%>
